#banner {
    display: block;
    width: 100%;
    height: 400px;
    background-color: var(--bg-color-2); // TODO: replace with image
    @media screen and (max-height: 900px) {
        height: 30vh;
    }
}
#profile-picture {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 200px;
    text-align: center;
    z-index: 5;
    background-color: var(--bg-color-2);
}
#wrapper {
    margin-top: -100px;
}

/* Adjustments for smaller screens */
@media screen and ((max-height: 900px) or (max-width: 600px)) {
    #profile-picture {
        width: 150px;
        height: 150px;
        line-height: 150px;
    }
    #wrapper {
        margin-top: -75px;
        #title-wrapper {
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-size: 0.75rem;
            }
        }
    }
}
