/* TODO: Remove this when we have real content */
// * {
//     outline: 1px solid red !important;
// }

.current {
    color: green;
}

main {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
    line-height: 1.6;
    font: 18px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#greeting {
    position: relative;
    width: 100%;
    padding: 0;
    border-radius: 20px;
    box-sizing: border-box;

    & #animation {
        width: 100%;
        margin: 0;
    }

    & #text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff0;
        mix-blend-mode: multiply;
        font-size: 240px;
        font-family: monospace;
    }
}


header {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html {
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
}

footer {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 10;
}

main {
    padding-bottom: 4rem; // Add space for the footer height
}